# Config files
/config/*.json
serviceAccount.json
serviceAccount_develop.json
serviceAccount_production.json

# Ignoring yarn.lock to avoid artifactory dependency lock
yarn.lock

# Temp and log files
.temp/
*.log

# Build
build/

# Deployment
.firebase/

# Dependencies
bower_components/
node_modules/

# Genertated
functions/dist/